#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.letterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0044FF;
  color: #0044FF;
  border: 5px solid #353535;
  font-size: 150px;
  font-weight: 700;
  padding: 10px;
  width: 250px;
  aspect-ratio: 1;
  clip-path: inset(0px);
}

.letterBox > span {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.emptyLettersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.letterBox.empty {
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 100px #bebebe,
  20px -20px 100px #ffffff;
}

.lettersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 5px solid #353535;

}

.lettersContainer.wrong, .lettersContainer.wrong > .letterBox {
  border-color: #F34646;
}

.lettersContainer.correct, .lettersContainer.correct > .letterBox {
  border-color: #40BE5C;
}

.letterBox.active {
  background-color: #FFF;
}

.letterBox.active > span {
  opacity: 1;
}

.nextWordBtn {
  margin-block: 50px;
  padding: 20px;
  font-size: 40px;
  color: #353535;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 100px #bebebe,
  20px -20px 100px #ffffff;
  clip-path: inset(0px);

}

.guessInput {
  margin-block: 50px;
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: #706a6a;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 100px #bebebe,
  20px -20px 100px #ffffff;
  clip-path: inset(0px);
}
